---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">I may have a RBF in real life, but I usually don't bite.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Get in Touch</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Use the form to reach me, or you can always connect with me on LinkedIn.
        </p>
        <div class="mt-5 flex flex-col items-center">
          <!-- Updated LinkedIn Button -->
          <a 
            href="https://www.linkedin.com/in/ronnitpeter" 
            target="_blank" 
            rel="noopener noreferrer" 
            class="flex items-center justify-center w-[300px] px-6 py-3 bg-[#0077B5] text-white font-medium rounded-md text-center hover:bg-[#146A85] whitespace-nowrap">
            Connect on LinkedIn
          </a>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
