---
import { Icon } from "astro-icon/components";
---

<div class="flex justify-center items-center mt-16">
  <!-- LinkedIn Icon with Link -->
  <a 
    href="https://www.linkedin.com/in/ronnitpeter" 
    target="_blank" 
    rel="noopener noreferrer" 
    class="flex items-center justify-center"
  >
    <Icon name="simple-icons:linkedin" class="w-6 h-6 text-blue-600 hover:text-blue-800" />
  </a>
</div>
