<div class="mt-8 flex justify-center">
  <!-- Bigger Green Box -->
  <a 
    href="/contact" 
    class="w-[400px] px-16 py-6 bg-green-600 text-white font-medium rounded-md text-center hover:bg-olive-700">
    Get in Touch
  </a>
</div>
